/* basic style */
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Oswald-Regular.woff2') format('woff2');
  font-display: swap; /* 폰트 로딩 중 대체 텍스트 표시 */
}

/* 다른 CSS 스타일도 이 파일에 이어서 작성합니다 */
body {
  font-family: 'GMarketSans', sans-serif;
  font-weight: 500;
  font-size: 0.83vw;
  background-color: #f8b62d;
}
h2 {
  background-color: #d60000;
  display: inline-block;
  font-size: 2vw;
  border-radius: 0.5vw;
  color: #ffffff;
  line-height: 2vw;
  padding: 1vw 1vw 0.67vw 1vw;
}
#h2_wrapper {
  text-align: center;
}

/* intro_img style */
.intro_img {
  display: flex;
  justify-content: center;
  margin-top: 100vh;
}
.intro_collum {
  display: flex;
  justify-content: center;
  width: 80vw;
  gap: 1vw;
}
.intro_collum div {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  position: relative;
}
.intro_collum div:nth-child(odd) {
  margin-top: 16vh;
}
.intro_img img {
  width: 12vw;
  object-fit: cover;
}

/* intro_text style */
.intro_text {
  text-align: center;
  height: 100vh;
}
.intro_text h2 {
  margin: 10vh 0;
  font-weight: bolder;
}
.intro_text div {
  text-align: center;
}
.intro_text p {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 4.5vh;
}

/* logo style */
.logo {
  margin: 20vh 0 0 5vw;
  width: 46vw;
  height: 30vh;
  background-color: #d60000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Oswald';
}

.logo h1 {
  font-size: 4.5vw;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.logo p {
  font-size: 1.5vw;
  color: #ffffff;
  position: absolute;
  right: 2.5vw;
  bottom: 3vh;
}

/* hottest style */
.hottest {
  margin-top: 19vh;
  margin-bottom: 30vh;
}
.hottest_articles {
  display: flex;
  gap: 2.5vw;
}
.hottest #h2_wrapper {
  margin-bottom: 3.5vh;
}
.hottest1 {
  margin-left: 4vw;
}
.hottest1 img {
  width: 42.5vw;
  height: 58vh;
}
.hottest1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  font-weight: 600;
  width: 55%;
  height: 25%;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  transform: translateY(-50%);
  margin: 0 auto;
  line-height: 65px;
  font-family: 'Oswald';
  background-color: #f04d24;
}
.hottest1 p::before {
  z-index: -1;
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 3.5%;
  transform: translateY(-50%);
  line-height: 1;
  -webkit-text-stroke: 12px #4fc6d3;
}
.hottest2 {
  width: 34.9vw;
  padding-bottom: 6.2vh;
  background: #f04d24;
}
.hottest2 p {
  z-index: 2;
  font-size: 2.6vw;
  font-weight: 600;
  box-sizing: border-box;
  color: #ffffff;
  position: relative;
  padding: 1.85vh 0 2.3vh;
  text-align: center;
  font-family: 'Oswald';
}
.hottest2 p::before {
  z-index: -1;
  content: attr(data-content);
  position: absolute;
  line-height: 1;
  -webkit-text-stroke: 10px #4fc6d3;
  top: 50%;
  transform: translateY(-50%);
}
.hottest2 img {
  width: 15.6vw;
}
.hottest2_img {
  display: flex;
  justify-content: space-around;
}
.hottest2 img:first-child {
  background-color: #ffffff;
  padding: 10px 10px 60px 10px;
}
.hottest2 img:last-child {
  background-color: #000000;
  padding: 10px 10px 60px 10px;
}

/* review styel  */
#review_wrapper {
  display: flex;
  justify-content: center;
  gap: 2.5vw;
}
.reviews {
  background-color: #f04d24;
  padding: 2.7vh 1.25vw;
  width: auto;
  position: relative;
  text-align: center;
}
.reviews img {
  width: 20vw;
  height: 50vh;
}
.reviews h4 {
  color: #f41c7d;
  margin-left: 0.8vw;
  font-size: 1vw;
}
.reviews p {
  margin-left: 1.5vw;
  font-weight: bold;
}
.review_texts {
  width: 20.8vw;
  background-color: #d9d9d9;
  overflow: hidden;
  max-height: 10.4vw;
  margin-top: 1.5vh;
  text-align: left;
  position: relative;
  transition: max-height 0.9s ease;
  padding: 1.5vh 0 5.5vh 0;
  box-sizing: border-box;
}

/* 아래 그라디언트 */
.review_texts::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.5vh;
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 0.35) 25%,
    rgba(50, 50, 50, 0.75) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.4s ease 0.9s;
}

/* 열린 상태 */
.review_texts.open {
  max-height: 35.5vh;
  transition: max-height 0.9s ease;
}

/* 열린 상태에서 그라디언트 제거 */
.review_texts.open::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

/* 버튼 고정 */
.review_texts p:last-child {
  margin-bottom: 1.5vh;
}
.read_more_btn {
  position: absolute;
  bottom: 0.7vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.6vh;
  background: #444;
  color: #d9d9d9;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.25s;
  z-index: 2;
  font-size: 16px;
  border: 2px solid #f04d24;
}

.read_more_btn:hover {
  background: #f04d24;
  color: #000000;
  font-weight: bold;
  font-size: 1vw;
  border: 2px solid #ffffff;
}

/* k-hiphop style */
.k-hiphop,
.world-hiphop {
  width: 80vw;
}
.k-hiphop1 h3 {
  background-color: #acff92;
}
.k-hiphop2 h3,
.k-hiphop3 h3 {
  background-color: #4fc6d3;
}
.k-hiphop {
  margin-bottom: 150px;
}
.k-hiphop h2 {
  margin-bottom: 50px;
}
/* world-hiphop style */
.world-hiphop1 h3 {
  background-color: #4fc6d3;
}
.world-hiphop2 h3,
.world-hiphop3 h3 {
  background-color: #acff92;
}
.world-hiphop h2 {
  margin-bottom: 5vh;
}
.world-hiphop {
  margin-bottom: 15vh;
}

/* featured style */
.featured {
  display: flex;
}
#feature_mainimg {
  width: 35.4vw;
  margin-bottom: 2vh;
}
.featured {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 80%;
  max-width: 46.8vw;
  text-align: center;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured h2 {
  z-index: 1;
  margin-bottom: 2vh;
  display: inline-block;
  padding: 2vh;
  background-color: white;
  border: -0.5vh solid #85cbc9;
  color: #312d8e;
  border-radius: 1vh;
  position: relative;
}
.featured h2::before {
  z-index: -1;
  content: attr(data-content);
  position: absolute;
  color: #f29900;
  line-height: 1;
  -webkit-text-stroke: 6px #f29900;
}
.featured_text {
  margin-top: 2vh;
}
#featured_text {
  background-color: white;
  position: relative;
  width: 35.4vw;
  height: 34vh;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1vh solid #000000;
  border-radius: 10px;
}
#title_section {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-bottom: 10px;
}
#feature_book {
  width: 3vw;
  height: 6vh;
}
#feature_write {
  width: 1.5vw;
  height: 3vh;
}
#feature_click {
  height: 3vw;
  width: 6vh;
  margin-top: 1vh;
}
#title_section p {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: left;
}
#text_section {
  display: flex;
}
#text_section p {
  font-size: 1.25vw;
  text-align: left;
  margin: 2vh 0 0 5vw;
  position: relative;
  font-weight: 500;
}
#text_section img {
  position: absolute;
  right: 0;
}
#click_section {
  position: absolute;
  right: 1vw;
  bottom: 0;
  font-family: 'Oswald';
}
#click_section p {
  color: white;
  background-color: #3f4141;
  padding: 0.5vh 1.8vw 0.5vh 0.78vw;
  display: inline-block;
  height: 3vh;
  margin: 1vh -2vw;
}

/* playlist style */
.playlist {
  display: flex;
  margin: 35vh 0 40vh 7.5vw;
  width: 80vw;
}
.playlist_city {
  background-image: url(source/city.png);
  background-size: cover;
  width: 45.3vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* lp style */
#lp_player {
  margin-right: 3vw;
}
.lp {
  height: 20vh;
  transition: transform 1s ease-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is_playing_lp {
  animation: spin 5s infinite linear; /* 5초 속도로 무한 회전 */
}

#playlist_icon {
  z-index: 2;
  position: relative;
  display: flex;
  gap: 0;
}
#playlist_icon p {
  font-size: 3vw;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 4;
}
#playlist_icon p::before {
  content: '2025/9\APlaylist of Month';
  white-space: pre;
  position: absolute;
  color: #f29900;
  -webkit-text-stroke: 0.2vh #f29900;
  -webkit-text-fill-color: transparent;
  z-index: 3;
}

.needle {
  width: 4.4vw;
  height: 18vh;
  transition: transform 1s ease;
  position: absolute;
  left: 8.3vw;
}
.go,
.back,
.play {
  width: 2.86vw;
}
.playing {
  background-color: #3f4141;
  /* padding: 50px 100px 35px; */
  padding: 5vh 5vw 3.6vh;
  width: 30vw;
  box-sizing: border-box;
  text-align: center;
}
.zene_cover {
  margin-bottom: 3.5vh;
  height: 28vh;
}
.song-name {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
}
.artist {
  font-size: 1.25vw;
  text-align: center;
  font-weight: bold;
}
.playlist_icon {
  display: flex;
  justify-content: space-between;
}
.playlist_icon img {
  color: #413bce;
}
.timeline {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

@keyframes fill-timeline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

hr#timelineColor {
  height: 5px;
  margin-top: 30px;
  border: none;
  background-color: #ddd; /* 채워지기 전의 배경 색상 (회색 등) */
  position: relative;
  width: 100%;
}

hr#timelineColor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width는 이제 애니메이션이 제어합니다. */
  background: linear-gradient(to right, #acff8f 0%, #3f7d28 50%, #2b6214 100%);
  /* 애니메이션 설정: 210초 동안 선형으로 재생, 멈춰있는 상태로 시작 */
  animation: fill-timeline 210s linear forwards;
  animation-play-state: paused; /* 기본적으로 일시 정지 */
}

/* 재생 중일 때: 재생 상태로 변경 */
hr#timelineColor.now-playing::after {
  animation-play-state: running;
}

/* 일시 정지 상태일 때 (이 클래스는 이제 필요 없지만 유지해도 무방) */
/* hr#timelineColor.is-paused::after { */
/*   animation-play-state: paused;  */
/* } */

.timeline p {
  color: white;
}
.go {
  transform: rotate(180deg);
}
/* footer style */
footer {
  background-color: #d60000;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 67.7vw;
  box-sizing: border-box;
  padding: 4vh 4.6vw;
  margin-left: 7.8vw;
  margin-bottom: 18.5vh;
}
footer div {
  display: inline-block;
}
.footer_1col {
  width: 370px;
}
.footer_1col p {
  margin-top: 50px;
}
.footer_2col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_2coltext {
  display: flex;
  gap: 60px;
}
.footer_2col p {
  font-size: 1.1vw;
  display: flex;
}
.footer_2col2row {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
